<h1>AJAX Atomics - 01</h1>

<script type="text/javascript" src="/global.js"></script>

<h1>Why are you able to make requests to /info1 and /info2 even though there are no route handlers for those paths defined in app.rb?</h1>
<p>req.open</p>
  <h1>Why is the XHR object's request path /info1 instead of /public/info1?</h1>
<p>public is a file that's not seen but required by sinatra to work completely. in the case of the web the public folder is always accessible with /</p>
<h1>Within the addEventListener function, what does this represent?</h1>
<p>action to trigger and an anynomous function</p>